src/TestCloud.asv
src/images/amb1
src/images/amb2
src/matconvnet-1.0-beta24/models/
src/matconvnet-1.0-beta24/data/
src/matconvnet-1.0-beta24/doc/
*.asv
src/matconvnet-1.0-beta24/imagenet-vgg-f.mat
src/results
src/refinenet
src/videos
